.filters {
  
  background: white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: left;
  margin-top: 15px;
  font-size: 0.85rem;
}

.body {
  font-family: Arial, sans-serif;
  padding: 1rem;
  background: #f0f2f5;
  text-align: left;
  font-size: 0.95rem;
}

.header {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: flex-start;
  gap: 8px; /* optional spacing between checkboxes */
  flex-wrap: wrap; /* optional: allows wrapping if there's not enough horizontal space */
  font-size: 0.95rem;
}

.threeColumnPanel {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* spacing between columns */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px; /* spacing between items in column */
}
.question {
  flex: 1;
  font-size: 0.8rem;

}

.trueFalse {
  display: flex;
  flex-direction: row; /* stack question and checkbox vertically */
  align-items: flex-start; /* align to the left */
  margin-bottom: 1px;
}

.buttonPair {
  display: flex;
  align-items: center;
  gap: 3px;

}

.submit {
  margin-top: 1rem;
  text-align: right;
}

.submit button {
  padding: 0.5rem 1rem;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
}

.submit button:hover {
  background: #3498db;
}