Filters {
  
  background: white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: left;
  margin-top: 15px;
  font-size: 0.85rem;
}

.body {
  font-family: Arial, sans-serif;
  padding: 1rem;
  background: #f0f2f5;
  text-align: left;
  font-size: 0.95rem;
}

.header {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: flex-start;
  gap: 8px; /* optional spacing between checkboxes */
  flex-wrap: wrap; /* optional: allows wrapping if there's not enough horizontal space */
  font-size: 0.95rem;
}

.question {
  flex: 1;
  font-size: 0.8rem;

}

.buttonPair {
  display: flex;
  align-items: center;
  gap: 3px;

}

.submit {
  margin-top: 1rem;
  text-align: right;
}

.submit button {
  padding: 0.5rem 1rem;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
}

.submit button:hover {
  background: #3498db;
}