.info_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
}

.info_table td {
  padding: 6px;
  vertical-align: top;
  border-bottom: 1px solid #eee;
}

.info_table .first_col {
  width: 150px;
  color: #666;
  font-weight: 500;
  font-size: 0.85rem;
}

.info_table .second_col {
  color: #333;
  font-size: 0.85rem;
}